button {
    padding: 15px;
    position: relative;
    top: 300px;
    left: 400px;
    border: 1px solid bisque; 
}

button:hover{
    background-color: burlywood;
}

button:active{
    background-color: cadetblue;
}